body{
	margin: 0;
	padding: 0;
}

svg{
	position: absolute;
	left: -999px;
}

a{
	text-decoration: none;
	color: #000;
	text-align: center;
}

a:hover{
	color: #fe0002;
}

#outerWrap #header{
	display: block;
	width: 35px;
	height: 35px;
	position: relative;
	z-index: 990;
	margin: 10px;
}

#contentWrap #complete_content #content{
	position: absolute;
	width: 100%;
	height: 100%;
	left:0;
	top: 0;
	overflow: hidden;
}

.scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 660px;
  height:90px;
  top: -85px;
}

.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}

.items div {
  float:left;
}

#contentWrap #complete_content #content #inhalt .image img{
	display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 980;
}

#contentWrap #complete_content #content #inhalt .scrollable .items img{
	display: block;
    height: auto;
    width: 100%;
}

#contentWrap #complete_content #content #inhalt .opacityScrollable .items .imageOrder{
	display: none;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 10;
    top:0;
}

#contentWrap #complete_content #content #inhalt .opacityScrollable .items .imageOrderLast.opacity-1{
	display: block;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 11;
    top: 0;
}

/*#contentWrap #complete_content #content #inhalt .scrollable .items .unzoomed img{
	display: block;
    height: auto;
    width: 100%;
    transform:scale(0.8,0.8);
	-ms-transform:scale(0.8,0.8); 
	-webkit-transform:scale(0.8,0.8); 
}

#contentWrap #complete_content #content #inhalt .scrollable .items img.zoomed{
	transform:scale(1.2,1.2);
	-ms-transform:scale(1.2,1.2); 
	-webkit-transform:scale(1.2,1.2);   
}*/

#contentWrap #complete_content #content #inhalt .scrollable .items img.zoomed-p-h{
	transform:scale(2.5,2.5);
	-ms-transform:scale(2.5,2.5); /* IE 9 */
	-webkit-transform:scale(2.5,2.5); /* Safari and Chrome */	    
}

#contentWrap #complete_content #content #inhalt .scrollable .items img.vibe{
	transform:scale(1.05,1.05);
	-ms-transform:scale(1.05,1.05); /* IE 9 */
	-webkit-transform:scale(1.05,1.05); /* Safari and Chrome */	    
}

#contentWrap #complete_content #content #inhalt .scrollable .items img.rotated{
	transform:rotate(-10deg);
	-ms-transform:rotate(-10deg); /* IE 9 */
	-webkit-transform:rotate(-10deg); /* Safari and Chrome */

}

#contentWrap #complete_content #content #inhalt .scrollable .items img.strobo{
	opacity: 0;	    
}

#contentWrap #complete_content #content #inhalt .scrollable .items img.rotatedUZ{
	transform:rotate(10deg);
	-ms-transform:rotate(10deg); /* IE 9 */
	-webkit-transform:rotate(10deg); /* Safari and Chrome */

}

#contentWrap #complete_content #content #inhalt .scrollable .items img.rotated.zoomed{
	transform:rotate(10deg) scale(1.5,1.5);
	-ms-transform:rotate(10deg) scale(1.5,1.5); /* IE 9 */
	-webkit-transform:rotate(10deg) scale(1.5,1.5); /* Safari and Chrome */

}

#contentWrap #complete_content #content #inhalt .scrollable .items img.opacified{
	animation: opacity 4s linear;   
	-webkit-animation: opacity 4s linear;
    -moz-animation: opacity 4s linear;
    -ms-animation: opacity 4s linear;
    -o-animation: opacity 4s linear; 
}

.overlay.dropped{
	animation: drop 4s linear;   
	-webkit-animation: drop 4s linear;
    -moz-animation: drop 4s linear;
    -ms-animation: drop 4s linear;
    -o-animation: drop 4s linear; 
}

#contentWrap #complete_content #content #inhalt .scrollable .items img.opacified-o-s{
	opacity: 0.7;    
}

#contentWrap #complete_content #content #inhalt .buttons{
	display: block;
	z-index: 990;
	height: 25px;
	position: absolute;
	bottom: 50px;
	right: 10px;
	font-size: 34px;
	color: #505050;
}

#contentWrap #complete_content #content #inhalt .buttons .button{
	float: left;
	width: 150px;
	background: #404040;
	text-align: center;
	padding: 0 5px;
	margin-left: 5px;
	cursor: pointer;
	text-shadow: 1px 1px 0px #202020, -1px -1px 0px #606060;
	border-radius: 5px;
} 

#contentWrap #complete_content #content #inhalt .buttons .button.active{
	background: #ffff01;
}

#contentWrap #complete_content #content #inhalt .controls{
	display: block;
	z-index: 990;
	height: 96px;
	position: absolute;
	bottom: 37px;
	left: 26px;
	font-size: 34px;
	color: #505050;
}

#contentWrap #complete_content #content #inhalt .control{
	width: 47px;
	height: 42px;
	background: url(../images/pfeile.png) no-repeat;
	text-align: center;
	cursor: pointer;
	position: relative;
} 

#contentWrap #complete_content #content #inhalt .browse{
	width: 50px;
	height: 45px;
	bottom: 45px;
	z-index: 990;
	position: absolute;
	cursor: pointer;
}

.tooltip {
	padding: 10px;
	color: white;
	border-radius: 20px;
	font: bold 14px "Helvetica Neue", Sans-Serif;
	text-transform: uppercase;
	box-shadow: 0 0 7px black;
	background: black;
	border: 2px solid white;
	z-index: 99999;
}

#contentWrap #complete_content #content #inhalt .browse.left{
	left: 70px;
	background: url(../images/pfeile.png) -2px -44px no-repeat;
} 

#contentWrap #complete_content #content #inhalt .controls .control.top{
	background-position:-47px -1px;
	left: 91px;
	top: 0;
} 

#contentWrap #complete_content #content #inhalt .browse.right{
	
	position: absolute;
	left: 165px;
	width: 50px;
	height: 45px;
	background: url(../images/pfeile.png) -93px -44px no-repeat;
} 

#contentWrap #complete_content #content #inhalt .browse.right.disabled, #contentWrap #complete_content #content #inhalt .browse.left.disabled,
#contentWrap #complete_content #content #inhalt .controls .control.bottom.disabled, #contentWrap #complete_content #content #inhalt .controls .control.top.disabled{
	opacity: 0.8;
}

#contentWrap #complete_content #content #inhalt .browse.right.disabled.no-cursor, #contentWrap #complete_content #content #inhalt .browse.left.disabled.no-cursor{
	cursor: inherit;
}

#contentWrap #complete_content #content #inhalt .controls .control.bottom{
	background-position:-47px -88px;
	left: 91px;
	top: 44px;
} 

#contentWrap #complete_content #content #inhalt .controls .control.left{
	border: 1px solid black;
	background-position:-2px -44px;
	left: 70px;
	top: 44px;
} 

#contentWrap #complete_content #content #inhalt .controls .control.right{
	border: 1px solid black;
	background-position:-92px -44px;
	left: 165px;
	top: 44px;
} 

.szeneMenue{
	width: 708px;
	margin: 200px 0 0 -354px;
	position: absolute;
	z-index: 3;
	left: 50%;
}

.menue{
    float: left;
    height: 170px;
    margin: 15px;
    position: relative;
    width: 200px;
    border: 3px solid #000;
}

.menue a{
	position: absolute;
	overflow: hidden;
}

.menue img{
	transition: all 0.2s ease-out 0s;
}

.menue img:hover{
	transform: scale(1.02);
}

.textSzene{
	background: none repeat scroll 0 0 #FFFFFF;
    bottom: 5px;
    display: block;
    position: relative;
    text-transform: uppercase;
}

.menuBackground{
	position: absolute;
	z-index: 1;
}

.overlay{
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	/*z-index: 11;*/
}

@-webkit-keyframes opacity {
0% { opacity: 0.7; }
100% { opacity: 1; }
}
@-moz-keyframes opacity {
0% { opacity: 0.7; }
100% { opacity: 1; }
}
@-ms-keyframes opacity {
0% { opacity: 0.7; }
100% { opacity: 1; }
}
@-o-keyframes opacity {
0% { opacity: 0.7; }
100% { opacity: 1; }
}

@keyframes opacity {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-webkit-keyframes drop {
0% { opacity: 1; }
100% { opacity: 0; }
}
@-moz-keyframes drop {
0% { opacity: 1; }
100% { opacity: 0; }
}
@-ms-keyframes drop {
0% { opacity: 1; }
100% { opacity: 0; }
}
@-o-keyframes drop {
0% { opacity: 1; }
100% { opacity: 0; }
}

@keyframes drop {
0% { opacity: 1; }
100% { opacity: 0; }
}


#visualisation{
    position: relative;
    height: 400px;
    z-index: 9998;
}
#visualisation div{
    border: 1px solid black;
    float: left;
    width: 10px;
    position: absolute;
    bottom: 0;
    z-index: 9998;
}