.csc-header{
	display: none;
}

p{
	font-family: Arial Narrow, Arial;
	color: #000;
	font-size: 13pt;
	font-style: normal;

}
h1,h2 {
	font-family: Arial Narrow;
	color: #000;
	margin-top: 55px;
}
h1{
	font-size: 46px;
}
h2{font-size: 20pt}
	
h2 a{
	color: #000;
}
a{
	text-decoration: none;
	color: #fff;
}
	
body {	
	width: 100%;
	margin: 0;
	height: 100%;
}

body img{
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
}

body .bodytext img{
	width: auto;
}

#logo{
	position: fixed;
	width: 150px;
	height: 150px;
	display: block;
	left: 30px;
	top: 30px;
	background: url(../images/logo.png) no-repeat;
	cursor: pointer;
	z-index: 999;
}

#logo:hover{
	background: url(../images/logo_hover.png) no-repeat;
}

#logo a{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

#content.two_columns{
	width: auto;
	margin: 150px 200px;
	position: relative;
	z-index: 9;
}
		 
.left{
	float: left;
	width: 30%;
}

.right{
	right: 0;
	position: fixed;
	width: 30%;
}

#content .right h2 .important a{
	color: rgba(0,0,0,0.37);
}	   
#footer{
	width: 100%;
	left: 0;
	background-color: #000;
	position: fixed;
	bottom:0;
	height: 54px;
	z-index: 999;
}

#footer p{
	font-size: 11pt;
}

#footer .right{
	width: 308px;
	height: 54px;
	margin-right: 19px;
}

#footer .left{
	height: 54px;
	margin-left: 28px;
}

#footer .left p{
	margin: 0;
	line-height: 54px;
}

#footer .title{
	float: left;
	margin: 0px 17px 0 0;
	line-height: 25px;
}

#footer .right  a{
	width: 30px;
	height: 30px;
	float: left;
	display: block;
	margin: -2px 5px;
}

#footer .right .cloud{
	margin: -2px 17px 0 0;
	background: url(../images/icons/Soundcloud_w.png) no-repeat;
}

#footer .right .cloud:hover{
	margin: -2px 17px 0 0;
	background: url(../images/icons/Soundcloud.png) no-repeat;
}

#footer .right .facebook{
	background: url(../images/icons/Facebook_w.png) no-repeat;
}

#footer .right .facebook:hover{
	background: url(../images/icons/Facebook.png) no-repeat;
}

#footer .right .twitter{
	background: url(../images/icons/Twitter_w.png) no-repeat;
}

#footer .right .twitter:hover{
	background: url(../images/icons/Twitter.png) no-repeat;
}

#footer .right .youtube{
	margin: -2px 9px 0 0;
	background: url(../images/icons/YouTube_w.png) no-repeat;
}

#footer .right .youtube:hover{
	margin: -2px 9px 0 0;
	background: url(../images/icons/YouTube.png) no-repeat;
}

#footer .right .wordpress{
	background: url(../images/icons/Wordpress_w.png) no-repeat;
}

#footer .right .wordpress:hover{
	background: url(../images/icons/Wordpress.png) no-repeat;
}
#footer p{color: #fff;}
	

svg{
	position: fixed;
	left: -999px;
}



li{
	float: left;
}

li.spacer{
	width: 28px;
	height: 10px;
	display: block;
}


#c267, #c264, #c271{
	height: 100%;
	width: 100%;
	margin-top: -141px;
	
}

#c271{
	margin-top: -91px;
}

.waiting{
	display: none;
	z-index: 999;
	position: absolute;
	width: 256px;
	height: 88px;
	left: 50%;
	margin-left: -128px;
	top: 50%;
	background: url(../images/loading.GIF) no-repeat;
}

#content-navi{
	width: 0px;
	overflow: hidden;
	position: absolute;
	float: left;
	top: 200px;
	left: 0;
	height: auto;
	max-height: 100%;
	background-color: #000;
	z-index: 999;
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
}

#content-navi .accordion-menu{
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
}

#content-navi .accordion-entry{
	position: relative;
	width: 240px;
	display: block;
	height: 58px;
	background-color: #fff;
	border:	1px solid;
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
}

#content-navi .accordion-entry .title{
	text-align: center;
	line-height: 58px;
	font-size: 28px;
}

#content-navi .accordion-sub-content{
	position: absolute;
	display: block;
	z-index: 999;
	border: 3px solid black;
	width: 240px;
	height: auto;
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
}

#content-navi .accordion-sub-content a{
	color: #000;
}


#complete_content{
	position: absolute;
	top: 0;
	width: 100%;
	/*height: 100%;*/
}

#complete_content #navi{
	position: relative;
	width: 35px;
	height: 35px;
	display: block;
	background: url(../images/zahnrad.png) no-repeat;
	z-index: 1000;
	top: 200px;
	left: 20px;
	cursor: pointer;
}

.scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 100%;
  height:100%;
}

.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}

.items div {
  float:left;
}

#content{
	position: absolute;
	top: 0;
	height: 100%;
	width:100%;
}

#inhalt{
	width: 100%;
	height: 100%;
	display: block;
}

#complete_content #content #inhalt .image img{
	display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 980;
}

#complete_content #content #inhalt .scrollable .items img{
	display: none;
    height: auto;
    width: 100%;
    position: absolute;
}

#complete_content #content #inhalt .scrollable .items .active img{
	display: block;
}

#complete_content #content #inhalt .opacityScrollable .items .imageOrder{
	display: none;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 10;
    top:0;
}

#complete_content #content #inhalt .opacityScrollable .items .imageOrderLast.opacity-1{
	display: block;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 11;
    top: 0;
}

/*#contentWrap #complete_content #content #inhalt .scrollable .items .unzoomed img{
	display: block;
    height: auto;
    width: 100%;
    transform:scale(0.8,0.8);
	-ms-transform:scale(0.8,0.8); 
	-webkit-transform:scale(0.8,0.8); 
}

#contentWrap #complete_content #content #inhalt .scrollable .items img.zoomed{
	transform:scale(1.2,1.2);
	-ms-transform:scale(1.2,1.2); 
	-webkit-transform:scale(1.2,1.2);   
}*/

#complete_content #content #inhalt .opacityScrollable .items img.zoomed-p-h{
	transform:scale(2.5,2.5);
	-ms-transform:scale(2.5,2.5); /* IE 9 */
	-webkit-transform:scale(2.5,2.5); /* Safari and Chrome */	    
}

#complete_content #content #inhalt .opacityScrollable .items img.vibe{
	transform:scale(1.05,1.05);
	-ms-transform:scale(1.05,1.05); /* IE 9 */
	-webkit-transform:scale(1.05,1.05); /* Safari and Chrome */	    
}

#complete_content #content #inhalt .opacityScrollable .items img.rotated{
	transform:rotate(-10deg);
	-ms-transform:rotate(-10deg); /* IE 9 */
	-webkit-transform:rotate(-10deg); /* Safari and Chrome */

}

#complete_content #content #inhalt .opacityScrollable .items img.strobo{
	opacity: 0;	    
}

#complete_content #content #inhalt .opacityScrollable .items img.rotatedUZ{
	transform:rotate(10deg);
	-ms-transform:rotate(10deg); /* IE 9 */
	-webkit-transform:rotate(10deg); /* Safari and Chrome */

}

#complete_content #content #inhalt .opacityScrollable .items img.rotated.zoomed{
	transform:rotate(10deg) scale(1.5,1.5);
	-ms-transform:rotate(10deg) scale(1.5,1.5); /* IE 9 */
	-webkit-transform:rotate(10deg) scale(1.5,1.5); /* Safari and Chrome */

}

#complete_content #content #inhalt .opacityScrollable .items img.opacified{
	animation: opacity 4s linear;   
	-webkit-animation: opacity 4s linear;
    -moz-animation: opacity 4s linear;
    -ms-animation: opacity 4s linear;
    -o-animation: opacity 4s linear; 
}

#complete_content #content #inhalt #scrollable .items .szene9{
	position: absolute;
}

#complete_content #content #inhalt #scrollable .items .szene9 img{
	max-width: 400px;
	height: auto;
}

.overlay.dropped{
	animation: drop 4s linear;   
	-webkit-animation: drop 4s linear;
    -moz-animation: drop 4s linear;
    -ms-animation: drop 4s linear;
    -o-animation: drop 4s linear; 
}

.overlay_video_loop video{
	width: 100%;
	height: 100%;
	opacity: 0.4;
	position: absolute;
	z-index: 11;
}

#complete_content #content #inhalt .opacityScrollable .items img.opacified-o-s{
	opacity: 0.7;    
}

#complete_content #content #inhalt #scrollable .items .opacified-o-n{
	opacity: 1 !important;
}

#complete_content #content #inhalt .buttons, .wuerdButton{
	display: block;
	z-index: 990;
	height: 25px;
	position: fixed;
	bottom: 60px;
	right: 10px;
	font-size: 34px;
	color: #505050;
}

.wuerdButton{
	right: 50%;
	margin-right: -150px;
}
#complete_content #content #inhalt .buttons .button, .wuerdButton .wuerd{
	float: left;
	width: 150px;
	background: #404040;
	text-align: center;
	padding: 0 5px;
	margin-left: 5px;
	cursor: pointer;
	text-shadow: 1px 1px 0px #202020, -1px -1px 0px #606060;
	border-radius: 5px;
} 

.wuerdButton .wuerd{
	width: 300px;
}

#complete_content #content #inhalt .buttons .button.active{
	background: #ffff01;
}

#complete_content #content #inhalt .controls{
	display: block;
	z-index: 990;
	height: 130px;
	position: fixed;
	bottom: 20px;
	left: 75px;
	font-size: 34px;
	color: #505050;
}

#complete_content #content #inhalt .control{
	width: 47px;
	height: 42px;
	background: url(../images/pfeile.png) no-repeat;
	text-align: center;
	cursor: pointer;
	position: relative;
} 

#complete_content #content #inhalt .browse{
	width: 50px;
	height: 45px;
	bottom: 67px;
	z-index: 990;
	position: fixed;
	cursor: pointer;
}

.tooltip {
	padding: 10px;
	color: white;
	border-radius: 20px;
	font: bold 14px "Helvetica Neue", Sans-Serif;
	text-transform: uppercase;
	box-shadow: 0 0 7px black;
	background: black;
	border: 2px solid white;
	z-index: 99999;
}

#complete_content #content #inhalt .browse.left{
	left: 30px;
	background: url(../images/pfeile.png) -2px -44px no-repeat;
} 

#complete_content #content #inhalt .controls .control.top{
	background-position:-47px -1px;
	left: 3px;
	top: 0;
} 

#complete_content #content #inhalt .browse.right{
	
	/*position: absolute;*/
	left: 125px;
	width: 50px;
	height: 45px;
	background: url(../images/pfeile.png) -93px -44px no-repeat;
} 

#complete_content #content #inhalt .browse.right.disabled, #contentWrap #complete_content #content #inhalt .browse.left.disabled,
#complete_content #content #inhalt .controls .control.bottom.disabled, #contentWrap #complete_content #content #inhalt .controls .control.top.disabled{
	opacity: 0.8;
}

#complete_content #content #inhalt .browse.right.disabled.no-cursor, #contentWrap #complete_content #content #inhalt .browse.left.disabled.no-cursor{
	cursor: inherit;
}

#complete_content #content #inhalt .controls .control.bottom{
	background-position:-47px -88px;
	left: 3px;
	top: 44px;
} 

#complete_content #content #inhalt .controls .control.left{
	border: 1px solid black;
	background-position:-2px -44px;
	left: 70px;
	top: 44px;
} 

#complete_content #content #inhalt .controls .control.right{
	border: 1px solid black;
	background-position:-92px -44px;
	left: 165px;
	top: 44px;
} 

.accordionMenue{
	position: fixed;
	bottom: 54px;
	display: block;
	width: 100%;
	z-index: 11;
}

.ui-accordion .ui-accordion-header{
	margin: 0px !important;
	border-color: white !important;
	border-bottom: none;
	color: #fff;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: none;
	border-left: none;
	font-family: Arial Narrow,Arial;
    font-size: 13pt;
}

.ui-corner-all{
	border-color: black;
}

.ui-state-active{
	border-color: black;
	border-bottom: 0px;
}

.ui-accordion-content-active{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.accordionMenue .accordion .section-0{
	background: #000;
}

.ui-accordion-content .text{
	font-size: 13pt;
	font-family: Arial Narrow, Arial;
	width: 385px;
	color: rgb(158,158,158);
	position: relative;
}

.accordionMenue .accordion .section-1{
	background: #000;
}

.accordionMenue .accordion .video video{
	position: relative;
	left: 50%;
	margin-left: -480px;
}
.menue{
    float: left;
    height: 170px;
    margin: 15px;
    position: relative;
    width: 200px;
    border: 3px solid #000;
}

.menue a{
	position: absolute;
	overflow: hidden;
}

.menue img{
	transition: all 0.2s ease-out 0s;
	max-width: 200px;
	height: auto;
}

.menue img:hover{
	transform: scale(1.02);
}

.textSzene{
	background: none repeat scroll 0 0 #FFFFFF;
    bottom: 5px;
    display: block;
    position: relative;
    text-transform: uppercase;
}

.menuBackground{
	position: absolute;
	z-index: 1;
	top: 0;
}

.overlay{
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	/*z-index: 11;*/
}

.path{
	position: absolute;
	top: 0;
}
.path svg{
	left: 0;
}

@media only screen and (max-device-width: 980px) {
	.szeneMenue{
		width: 708px;
		margin: 4% 0 0 -356px;
		position: absolute;
		z-index: 3;
		left: 50%;
	}

	#inhalt{
		width: 100%;
		height: 100%;
		display: block;
	}
	#content #inhalt .scrollable-border .items img{
		width: 980px;
		height: 100%;
	}

	#complete_content #content{
		position: absolute;
		width: 980px;
		height: 100%;
		left:0;
		top: 0;
		overflow: hidden;
	}

	.scrollable {
	  /* required settings */
	  position:relative;
	  overflow:hidden;
	  width: 980px;
	  /*height:100%;
	  top: -95px;*/
	}

	.scrollable .items {
	  /* this cannot be too large */
	  width:20000em;
	  position:absolute;
	}

	.items div {
	  float:left;
	}

	#complete_content #content #inhalt .image img{
		display: none;
	    height: auto;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 980px;
	    z-index: 980;
	}

	#complete_content #content #inhalt .scrollable .items img{
		display: block;
	    height: auto;
	    width: 980px;
	}

	#complete_content #content #inhalt #scrollable .items .szene9 img{
		max-width: 300px;
		height: auto;
	}
}

@-webkit-keyframes opacity {
0% { opacity: 0.7; }
100% { opacity: 1; }
}
@-moz-keyframes opacity {
0% { opacity: 0.7; }
100% { opacity: 1; }
}
@-ms-keyframes opacity {
0% { opacity: 0.7; }
100% { opacity: 1; }
}
@-o-keyframes opacity {
0% { opacity: 0.7; }
100% { opacity: 1; }
}

@keyframes opacity {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-webkit-keyframes drop {
0% { opacity: 1; }
100% { opacity: 0; }
}
@-moz-keyframes drop {
0% { opacity: 1; }
100% { opacity: 0; }
}
@-ms-keyframes drop {
0% { opacity: 1; }
100% { opacity: 0; }
}
@-o-keyframes drop {
0% { opacity: 1; }
100% { opacity: 0; }
}

@keyframes drop {
0% { opacity: 1; }
100% { opacity: 0; }
}

